:root{
margin:auto;
padding:auto;
width:70%;

}

  
html{background-color: green;}


    .container{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 2fr 4fr ;
    min-height: 300px;
    
    
    }  

#div1{grid-area: 1,1,2,2;

    justify-self: center;
margin-bottom: 40px;}

#div2{grid-area: 1,2,2,3;
margin-bottom: 40px;
    justify-self: center;
    
}

#div3{grid-area: 2,1,3,2;

border:6px solid black;
background-color: chartreuse;






}

#div4{grid-area: 2,2,3,3;

border:6px solid black;
background-color: chartreuse;



}

#div5{grid-area: 3,1,4,2;

   justify-self: center;


}

#div6{grid-area: 3,2,4,3;

   justify-self: center;


}


#main-head{text-align: center;font-weight: bold;font-size: 50px;}

#l-card{height: 270px;width: 175px;border-radius: 7%;margin-top:80px;border:3px solid black;}
#r-card{height: 270px;width: 175px;border-radius: 7%;margin-top:80px;border:3px solid black;}

#choose{font-size: 20px;font-weight: bolder;color: black;}
#acard{font-size: 20px;font-weight: bolder;color: black;}
/*card styling*/

#club-choice{border:2px solid black;margin: 20px;height: 30px;border-radius: 8px;}
#club-image{width: 20px;height: 20px;}

#diamond-choice{border:2px solid black;margin: 20px;height: 30px;border-radius: 8px;}
#diamond-image{width: 20px;height: 20px;}

#heart-choice{border:2px solid black;margin: 20px;height: 30px;border-radius: 8px;}
#heart-image{width: 20px;height: 20px;}

#spade-choice{border:2px solid black;margin: 20px;height: 30px;border-radius: 8px;}
#spade-image{width: 20px;height: 20px;}


#ace-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#two-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#three-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#four-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#five-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#six-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#seven-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#eight-choice{border:2px solid black;margin:10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#nine-choice{border:2px solid black;margin: 10px;padding-right: 10px;height: 30px;border-radius: 8px;}
#ten-choice{border:2px solid black;margin: 10px;padding-right: 5px;height: 30px;border-radius: 8px;}
#jack-choice{border:2px solid black;margin: 10px;padding-right: 10px; padding-left: 40px;height: 30px;border-radius: 8px;}
#queen-choice{border:2px solid black;margin: 10px;padding-right: 10px; padding-left: 40px;  height: 30px;border-radius: 8px;}
#king-choice{border:2px solid black;margin: 10px;padding-right: 10px; padding-left: 40px;height: 30px;border-radius: 8px;}

#card-back{height:95%;width:100%;border-radius: 7%;}

#score-title{text-align: center;font-size: 20px;}

#score-text{display: inline;margin-left: 150px;}
#rscore-text{display: inline;margin-left: 100px;}
#rwfscore-text{display: inline;margin-left: 95px;}
#rwtscore-text{display: inline;margin-left: 140px;}
#rwoscore-text{display: inline;margin-left: 125px;}
#cscore-text{display: inline;margin-left: 250px;font-weight: bolder;}
#play{text-align: center;}
button{background-color: whiteDe    
;}